<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NetSuiteBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="NetSuiteBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.netsuite.com/services/NetSuitePort_2024_1"
                binding="basicHttpBinding" bindingConfiguration="NetSuiteBinding"
                contract="NetSuiteService.NetSuitePortType" name="NetSuitePort" />
        </client>
    </system.serviceModel>
</configuration>